html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d4ebdb;
    font-family: 'Quicksand', sans-serif;
}

.container {
    min-height: 90%;
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;

}

.left {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.search {
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.search input {
    width: 280px;
    height: 45px;
    border-radius: 25px;
    font-size: 18px;
    padding: 3px 5px;
    border: none;
    box-shadow: 0 5px 12px rgb(0 0 0 / 0.25);
    display: flex;
}

.search input:focus {
    outline: none;
    border: none;
}

.icon-temp-date {
    display: flex;
    flex-direction: column;
    flex: 6;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.weather-image {
    flex: 4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-temp {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-family: 'Quicksand', sans-serif;
}

.bottom-description {
    flex: 2;
}

.weather-image img {
    margin-top: 30px;
    width: 80%;
    height: 80%;
}

.temp {
    height: 70%;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conditions {
    height: 30%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.right-top {
    min-height: 15%;
    display: flex;
    gap: 15px;
}

.right-bottom {
    min-height: 70%;
}

.one,
.two,
.three,
.four,
.five,
.six {
    background-color: white;
    height: 100%;
    width: 15%;
    box-shadow: 0 5px 12px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.min-max {
    display: flex;
    gap: 10px;
}

.day-image {
    flex-grow: 1;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-image img {
    width: 60px;
    height: 60px;
}

.min {
    color: #A9A9A9;
}

.weekly {
    font-size: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    height: 5%;
    margin-top: 30px;
}

.today-highlights {
    min-height: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr;
    align-items: center;
    justify-content: center;
}

.highlights1,
.highlights2,
.highlights3,
.highlights4,
.highlights5,
.highlights6 {
    background-color: white;
    height: 90%;
    width: 90%;

}


/*tablet*/
@media (max-width: 1280px) {
    .container {
        min-height: 100%;
        max-width: 100%;
        margin-top: 0px;
    }

    .left {
        width: 40%;
    }

    .right-top {
        min-height: 50%;
    }

    .right-bottom {
        min-height: 50%;
    }

    .weather-image img {
        width: 50%;
        height: 60%;
        margin-top: 0px;
    }

    .weather-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-top {
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 3fr 3fr;
        display: grid;
        padding-left: 20px;
        gap: 0px;
        grid-template-areas: "one two three"
            "four five six";
    }

    .one {
        grid-area: one;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }

    .four {
        grid-area: four;
    }

    .five {
        grid-area: five;
    }

    .six {
        grid-area: six;
    }

    .search input {
        width: 250px;
        height: 35px;
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six {
        height: 90%;
        width: 90%;
    }

}

/*mobile*/
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        max-width: 90%;
        height: 100%;
        margin-top: 0px;
    }

    .left {
        width: 100%;
        min-height: 40%;
    }

    .right {
        width: 100%;
        flex-grow: 1;
    }

    .search input:focus {
        width: 250px;
    }

    .right-top {
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 3fr 3fr 3fr;
        display: grid;
        padding-left: 20px;
        gap: 0px;
        grid-template-areas: "one two"
            "three four"
            "five six";
    }

    .icon-temp-date {
        flex-grow: 1;
        flex-direction: row;
    }

    .bottom-description {
        display: none;
    }

    .temp {
        font-size: 40px;
    }

    .conditions {
        font-size: 15px;
        align-items: flex-start;
    }

    .weather-image {
        border-bottom: 0px;
    }

    .icon-temp-date {
        border-bottom: 0px;
    }

    .right-top {
        min-height: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .right-bottom {
        min-height: 100%;
    }

    .weather-image img {
        margin-top: 30px;
        width: 80%;
        height: 80%;
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six {
        font-size: 10px;
    }

    .today-highlights {
        min-height: 100%;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 3fr 3fr 3fr;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }

}

html {
    visibility: visible;
    opacity: 1;
}