html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6f6f8;
}

.container {
    border: solid 2px red;
    height: 80%;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}